.cal_box {
    display: flex;
    text-align: center;
    margin-bottom:5em;
}



.calculator_container {
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid rgba(73, 19, 70, 0.56);
    border-left: 3px solid rgba(73, 19, 70, 0.56);
    border-bottom: 5px solid rgba(73, 19, 70, 0.56);
    border-right: 6px solid rgba(73, 19, 70, 0.56);
    padding: 1em 1.3em 0 1.3em;
}

.text_view {
    background-color: rgba(41, 19, 73, 0.67);
    color:white;
    font-weight: 600;
    border:none;
    padding:1em;
    width: 300px;
    height: 100px;
}

.input-overlay {
    width: 300px;
    height: 100px;
    position: relative;
    top: -100px;
    left: 5px;
    background-color: rgba(41, 19, 73, 0.00);
}

.buttons_container {
    position: relative;
    top: -100px;
}

.button {
    width: 75px;
    height: 75px;
    margin-top: 0.5em;
    margin-right:2px;
    background-color: rgba(73, 19, 70, 0.56);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border: none;
}


.button:hover {
    padding: 1em;
        background-color: rgba(73, 19, 70, 1);

}

.sucess {
    position: relative;
    top: -100px;
}
.error {
    position: relative;
    top: -100px;
}
