@page "/TechSkills"
<head>
    <link rel="stylesheet" href="../css/about_style.css" />
</head>


<section id="skills">

    <div class="title_container">
        <h1>Technical Skills</h1>
        <div class="underline_container">
            <div class="underline blinker"></div>
        </div>
        <h2>
            <NavLink class="link" href="Soft Skills">
                <i class="far fa-hand-point-right"></i>   Soft Skills
            </NavLink>
        </h2>

        <h2>
            <NavLink class="link" href="About Me">
                <i class="fa fa-user"></i>   About Me
            </NavLink>
        </h2>
    </div>

    <div class="row">


        <!--Front end-->
        <div id="front-end" class="col-lg-4">

            <div class="skills_title">
                <h2>Front-End</h2>
            </div>
            <div class="skills_container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/html.png" />
                            <div class="description">
                                HTML
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/css.png" />
                            <div class="description">
                                CSS
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/javascript.jpg" />
                            <div class="description">
                                JavaSript
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/react.png" />
                            <div class="description">
                                React
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/BrandBlazor_nohalo_1000x.png" />
                            <div class="description">
                                Blazor
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/vs-code.png" />
                            <div class="description">
                                VS-Code
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!--Back end-->
        <div id="back-end" class="col-lg-4">

            <div class="skills_title">
                <h2>Back-End</h2>
            </div>
            <div class="skills_container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/C_Sharp_logo.png" />
                            <div class="description">
                                C#
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/net.png" />
                            <div class="description">
                                .NET
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/net_core.png" />
                            <div class="description">
                                .NET Core
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/visual.png" />
                            <div class="description">
                                Visual Studio
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!--Back end-->
        <div id="other" class="col-lg-4">

            <div class="skills_title">
                <h2>Other</h2>
            </div>
            <div class="skills_container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/jquery.png" />
                            <div class="description">
                                JQuery
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/git.png" />
                            <div class="description">
                                GIT
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/bootstrap.png" />
                            <div class="description">
                                Bootstrap
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/microsoft-azure-logo-85055C44BE-seeklogo.com.png" />
                            <div class="description">
                                Azure
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="skill_container">
                            <img class="icon_s" src="../Skills_Images/scss.png" />
                            <div class="description">
                                SCSS
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</section>


