@page "/calculator";
@inherits CalculatorBase;

<head>
    <link href="../css/AlgorithmsP1.css" rel="stylesheet" />
    <link href="../css/AlgorithmsP2.css" rel="stylesheet" />
    <link href="../css/Calculator_style_v1.css" rel="stylesheet" />
</head>

<div class="description_container">
    <div class="content_container">
        <div class="title_container">
            <h2>Calculator</h2>
            <div class="heading_underline blinker"></div>
        </div>
        <p>This program is working as a simple calculator</p>
    </div>
</div>


<div class="cal_box">
    <div class="calculator_container">

        <form name="form">
            <input @bind-value="result" @bind-value:event="oninput" class="text_view" />
            <div class="input-overlay"></div>
        </form>
        <div class="info_container">
            <span class="sucess">@success</span> <span class="error">@error</span>
        </div>
        <table class="buttons_container">
            <tr>
                <td><input class="button" type="button" value="C" @onclick="clean" /></td>
                <td><input class="button" type="button" value="<" @onclick="del" /></td>
                <td><input class="button" type="button" value="/" @onclick="addD" /></td>
                <td><input class="button" type="button" value="X" @onclick="addX" /></td>
            </tr>

            <tr>
                <td><input class="button" type="button" value="7" @onclick="add7" /></td>
                <td><input class="button" type="button" value="8" @onclick="add8" /></td>
                <td><input class="button" type="button" value="9" @onclick="add9" /></td>
                <td><input class="button" type="button" value="-" @onclick="addM" /></td>
            </tr>

            <tr>
                <td><input class="button" type="button" value="4" @onclick="add4" /></td>
                <td><input class="button" type="button" value="5" @onclick="add5" /></td>
                <td><input class="button" type="button" value="6" @onclick="add6" /></td>
                <td><input class="button" type="button" value="+" @onclick="addP" /></td>
            </tr>

            <tr>
                <td><input class="button" type="button" value="1" @onclick="add1" /></td>
                <td><input class="button" type="button" value="2" @onclick="add2" /></td>
                <td><input class="button" type="button" value="3" @onclick=" add3" /></td>
                <td><input class="button" type="button" value="=" @onclick="Sum" /></td>
            </tr>
            <tr>
                <td><input class="button" type="button" value="0" @onclick="add0" /></td>
                <td><input class="button" type="button" value="," @onclick="addc" /></td>
                <td><input class="button" type="button" value="^" @onclick="addpow" /></td>
            </tr>
        </table>
    </div>
</div>


