@page "/"

<head>
    <link rel="stylesheet" href="../css/index_style.css" />
</head>

<div class="home_container">
    <div class="welcome_container">
        <span class="text1">HI</span>
        <span class="text2">My name is Mateusz</span>
        <span class="text3">I'am full-stack developer</span>
        <span class="text4">
            <NavLink class="link" href="About Me">
                <i class="fa fa-arrow-right"></i>   About me  
            </NavLink>
            <NavLink class="link" href="TechSkills">
                <i class="fa fa-arrow-right"></i>   Projects   
            </NavLink>
            <NavLink class="link" href="TechSkills">
                <i class="fa fa-arrow-right"></i>   Contact   
            </NavLink>
        </span>

    </div>
</div>



