@page "/Projects"

<head>
    <link href="../css/projects_programs.css" rel="stylesheet"/>
</head>

<div class="page_contaier">

    

    <section id="website-projects">

        <div class="heading_container">
            <h1>Projects</h1>
            <div class="heading_underline_container">
                <div class="title_underline blinker"></div>
            </div>
        </div>

        <div class="all-projects-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="project-container">

                        <div class="img-container">
                            <img src="../ProjectsImages/math.jpg" />
                        </div>

                        <div class="content-container">
                            <h3>Buisness Math</h3>
                            <p>Description</p>
                            <p></p>
                            <p><a class="program_link" href="#" target="_blank">View Live</a></p>
                            <p><a class="program_link" href="#" target="_blank">View Code</a></p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="project-container">

                        <div class="img-container">
                            <img src="../ProjectsImages/Clothe.jpg" />
                        </div>

                        <div class="content-container">
                            <h3>Clothe Online E-Comerce website</h3>
                            <p>Description</p>
                            <p></p>
                            <p><a class="program_link" href="../RestaurantStatic/index.html" target="_blank">View Live</a></p>
                            <p><a class="program_link" href="#" target="_blank">View Code</a></p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="project-container">

                        <div class="img-container">
                            <img src="../ProjectsImages/CoffeShop.png" />
                        </div>

                        <div class="content-container">
                            <h3>3D Coffee Shop website</h3>
                            <p>Description</p>
                            <p></p>
                            <p><a class="program_link" href="../3DWebsite/index.html" target="_blank">View Live</a></p>
                            <p><a class="program_link" href="#" target="_blank">View Code</a></p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="project-container">

                        <div class="img-container">
                            <img src="../ProjectsImages/ezsat.png" />
                        </div>

                        <div class="content-container">
                            <h3>EZSAT/ E-sport leauge website</h3>
                            <p>Description</p>
                            <p></p>
                            <p><a class="program_link" href="https://ezsat.site/" target="_blank">View Live</a></p>
                            <p><a class="program_link" href="#" target="_blank">View Code</a></p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="project-container">

                        <div class="img-container">
                            <img src="../ProjectsImages/restaurant.png" />
                        </div>

                        <div class="content-container">
                            <h3>Restaurant Website</h3>
                            <p>Description</p>
                            <p></p>
                            <p><a class="program_link" href="../RestaurantStatic/index.html" target="_blank">View Live</a></p>
                            <p><a class="program_link" href="#" target="_blank">View Code</a></p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>


    <section>
        <div class="menu-container">

            <div class="heading_container">
                <h1>Components</h1>
                <div class="heading_underline_container">
                    <div class="title_underline blinker"></div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="Gallery">
                            <i class="fa fa-comments"></i> Gallery
                        </NavLink>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="Comments">
                            <i class="fa fa-comments"></i> Comments
                        </NavLink>
                    </div>
                </div>

                @{ //  Another 6 elements
                }
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="Clock">
                            <span class="oi oi-clock"></span> Clock
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="BuildPizza">
                            <i class="fa fa-pizza-slice"></i> Build Own Pizza
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="todoList">
                            <i class="fa fa-tasks"></i> To Do List
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="calculator">
                            <span class="oi oi-calculator" aria-hidden="true"></span> Calculator
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="sortingAll">
                            <span class="oi oi-bar-chart" aria-hidden="true"></span> Sorting Algorithms
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="quickSort">
                            <span class="oi oi-bar-chart" aria-hidden="true"></span> Quick Sort
                        </NavLink>
                    </div>
                </div>
                @{ //  Another 6 elements
                }
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="bubbleSort">
                            <span class="oi oi-bar-chart" aria-hidden="true"></span> Bubble Sort
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="pingServer">
                            <span class="oi oi-rss" aria-hidden="true"></span> Ping Website
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="sumOfAllDigits">
                            <span class="oi oi-plus" aria-hidden="true"></span> Sum all digits
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="isPrime">
                            <span class="oi oi-question-mark" aria-hidden="true"></span> Check if prime number
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="CircularRotationArray">
                            <span class="oi oi-action-redo" aria-hidden="true"></span> Circular Rotation
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="All Possible Substings">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> All possible substrings
                        </NavLink>
                    </div>
                </div>
                @{ //  Another 6 elements
                }
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="removeDuplicates">
                            <span class="oi oi-delete" aria-hidden="true"></span> Remove Duplicates
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="countingoccurrance">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Count Occurance
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="reversedEachWord">
                            <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Reverse each word
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="reverseWordOrder">
                            <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Reverse word order
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="palindrome">
                            <span class="oi oi-action-undo" aria-hidden="true"></span> Check if palindrome
                        </NavLink>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="link-container">
                        <NavLink class="nav-link" href="reverse">
                            <span class="oi oi-action-undo" aria-hidden="true"></span> Reverse String
                        </NavLink>
                    </div>
                </div>
                @{ //  Another 6 elements
                }
            </div>
        </div>
    </section>
</div>

@code {

}
