@page "/Soft Skills"

<head>
    <link rel="stylesheet" href="../css/about_style.css" />
</head>



<div class="title_container">
    <h1>Soft Skills</h1>
    <div class="underline_container">
        <div class="underline blinker"></div>
    </div>
    <h2>
        <NavLink class="link" href="TechSkills">
            <i class="far fa-hand-point-right"></i>   Technical Skills
        </NavLink>
    </h2>

    <h2>
        <NavLink class="link" href="About Me">
            <i class="fa fa-user"></i>   About Me
        </NavLink>
    </h2>

</div>

<section id="soft_skills_container">
    <div class="grid_container">
        <div class="agile">Agile Driven Development</div>
        <div class="hard_working">Hard Worker</div>
        <div class="details">Attention to detail</div>
        <div class="three"><i class="fa fa-users"></i> Team Member <i class="fa fa-clock"></i> Punctual <i class="fa fa-palette"></i> Creative</div>
        <div class="passion">Passion for technology</div>
        <div class="math">Math</div>
        <div class="problem_solving">Problem Solving / Logical thinking</div>
        <div class="four"><i class="fa fa-exclamation-triangle"></i> Testing <i class="fas fa-bug"></i> Debugging <i class="fa fa-clipboard-list"></i> Planning <i class="fas fa-book"></i> Learing</div>
        <div class="emoji">;-)</div>
    </div>
</section>